body {
   font-family: Arial, Helvetica, sans-serif;
}

.headimage {
   background-image: url(../media/La_Morra.jpeg);
   background-size: 100% 100% ;
   background-repeat: no-repeat;
   height: 300px;
}
.text {
   background-color: white;
   color: black;
   font-size: 7vw; /* Responsive font size */
   font-weight: bold;
   margin: 0 auto; /* Center the text container */
   padding: 10px;
   width: 40%;
   text-align: center; /* Center text */
   position: absolute; /* Position text */
   top: 150px; /* Position text in the middle */
   left: 50%; /* Position text in the middle */
   transform: translate(-50%, -50%); /* Position text in the middle */
   mix-blend-mode: screen; /* This makes the cutout text possible */
}
.meny_bar {
   background-color: green;
   display: inline-flex;
   width: 100%;

   font-size: 25px;
   font-weight: bold;
}

.meny_one {
   padding: 10px 20px;
}

.meny_two {
   padding: 10px 20px;
}

.meny_three {
   padding: 10px 20px;
}

.meny_bar a {
   text-decoration: none;
   color: white;
   width: 100%;
}

.meny_one:hover, .meny_two:hover, .meny_three:hover {
   background-color: rgba(177, 177, 177.0,4);
}

.main {
   margin: auto;
   width: 50%;
   height: 750px;
}

.main h1 {
   text-align: center;
   font-size: 55px;
}

.main p {
   font-size: 20px;
}



.bilde img {
   transform: rotate(90deg);
   position: relative;
   top: 110px;
   right: 110px;
   height: 350px;
   width: 550px;
}

.text_bilde {
   width: 350px;
   position: relative;
   left: 350px;
   bottom: 340px;
   box-sizing: border-box;
   padding: -0.5px 10px;
}

.main_two {
   margin: auto;
   width: 50%;
   height: 450px;
}

.sistebox {
   width: 200px;
   background-color: rgba(128, 128, 128, 0.6);
   box-sizing: border-box;
   padding: 0 3px;
   position: relative;
   left: 450px;
   bottom: 370px;
}

.greenbox {
   background-color: green;
   height: 100px;
   text-align: center;
   color: white;
}

.greenbox p {
   top: 40px;
   position: relative;
   padding: 20px;
   background-color: rgba(131, 199, 131, 0.2);
   border-radius: 50px;
   display: inline;
}
